@use 'core/mixins' as mixins;

:root {
  --starting-point-gradient: #1d99fd;
  --ending-point-gradient: #ff00f7;
}
.shadow-logo {
  --start-width: 8em;
  --start-height: 100%;
  img {
    animation: none;
  }
}

.presentation-progress {
  --progress-color: #1d99fd;
  --progress-color-two: #ff00f7;
}

.text-sub-section {
  @include mixins.gradientText(#ff00d8, #ff542f);
}

.displNone-until-visible[aria-hidden='true'] {
  display: none;
}

.toggle-img {
  img[alt='old angular logo'] {
    display: none;
  }
  &:has(p-fragment[old][aria-hidden='false']) {
    img {
      &[alt='old angular logo'] {
        display: initial;
      }
      &[alt='angular logo'] {
        display: none;
      }
    }
  }
}

.text-darker-gradient {
  @include mixins.gradientText(#000000, #ff00d8);
}

.text-reactivity-gradient {
  @include mixins.gradientText(#000000, #aca9a9);
}

.clean-gradient-color {
  -webkit-text-fill-color: initial;
}

.react {
  font-family: 'Graphik Semibold', serif;
  color: #4c99b8;
}

.italic {
  font-style: italic;
}

p-slide {
  &.strike-through {
    &:has(p-fragment[strike][aria-hidden='false']) {
      h3 {
        span {
          font-style: italic;
        }
      }
    }
  }
}
